@page
@model ProyectoFinalx181G0250.Pages.Docente.HomePageModel
@{
    ViewData["Title"] = "Home page";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div id="divCanales">
    <div>
        <button class="btnCanal" onclick="pipo(this.innerHTML)">Canal General</button>
    </div>
</div>

<button id="btnActualizar"> Actualizar </button>

<div id="divAvisos">

</div>

<template id="plantillaAviso"> 
    <div>
        <label> </label>
        <label> </label>
        <label> </label>
    </div>
</template>
<template id="plantillaCanal">
    <div>
        <button class="btnCanal" onclick="pipo(this.innerHTML)"></button>
    </div>
</template>