<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/CSS/modal.css" rel="stylesheet" />
    <link href="~/CSS/aviso.css" rel="stylesheet" />
    <link href="~/CSS/header.css" rel="stylesheet" />
    <link href="~/CSS/menu.css" rel="stylesheet" />
    <link href="~/CSS/Float.css" rel="stylesheet" />
    <link href="~/manifest.json" rel="manifest" />
    <link href="~/android/android-launchericon-512-512.png" rel="icon"/>
</head>
<body>
    <header>
        <a href="javascript:" data-id="0" data-menu="menuAbrir">
            <i class="fa-solid fa-bars"></i>
        </a>
        <h1 id="TituloCanal" class="canalActual"> Canal General</h1>
        <span> </span>
    </header>
    <div>
        @RenderBody()
    </div>
    <script>
        if (navigator.serviceWorker) {
            navigator.serviceWorker.register("/Sw.js");
        }
    </script>
    
    <script src="~/Scripts/HeaderJS.js" type="text/javascript"></script>
    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
</body>
</html>
