@page
@model ProyectoFinalx181G0250.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link href="~/CSS/General.css" rel="stylesheet" />

<div class="selector">
    <a href="/Alumno/HomePageA">Alumno</a>
    <a href="/Docente/HomePageD">Docente</a>
</div>