@page
@model ProyectoFinalx181G0250.Pages.LoginModel
@{
    ViewData["Title"] = "Login page";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div>

    <h1>Hey Tec</h1>

    <input placeholder="Usuario" type="text"/>
    <input placeholder="Contraseña" type="password" />

    <a href="~/Alumno/HomePage">
            Iniciar Sesion
        </a>
   
</div>