@page
@model ProyectoFinalx181G0250.Pages.Docente.HomePageDModel
@{
    Layout = "_Layout";
}

<div id="divCanales">
    <div>
        <button class="btnCanal" value="Canal General" onclick="cambioCanal(this.value)">Canal General</button>
    </div>
</div>

<button id="btnActualizar"> Actualizar </button>
<form>
    <input type="button" value="Agregar" data-modal="modalAgregar" />
</form>
<div id="divAvisos">

</div>

<template id="plantillaAviso"> 
    <div>
        <label> </label>
        <label> </label>
        <label> </label>
    </div>
</template>
<template id="plantillaCanal">
    <div>
        <button class="btnCanal" onclick="cambioCanal(this.value)"></button>
    </div>
</template>

<div class="modal" id="modalAgregar">
    <div>
        <form method="post" data-action="AgregarAviso">
            <label>Mensaje</label>
            <textarea name="avisoMensaje"></textarea>
            <label>Materia:</label>
            <select name="idMateria"></select>
            <input type="submit" value="Agregar" />
            <input type="button" data-cancel="1" value="Cancelar" />
        </form>
    </div>
</div>



<script src="~/Scripts/DocenteJs.js" type="text/javascript"></script>