@page
@model ProyectoFinalx181G0250.Pages.Docente.HomePageDModel
@{
    Layout = "_Layout";
}

<div id="divCanales" class="menuCanales">
    <div>
        <button class="btnCanal select" id="Canal General" value="Canal General" onclick="cambioCanal(this.id)">Canal General</button>
    </div>
</div>

<div>
    <button class="float" value="Agregar" data-modal="modalAgregar">
        <i class="fas fa-plus" value="Agregar" data-modal="modalAgregar"></i>
    </button>
</div>

<div>
    <button id="back" class="back">
        <i class="fa-solid fa-arrow-up"></i>
    </button>
</div>

<div id="divAvisos" class="listaAvisos">

</div>

<template id="plantillaAviso"> 
    <div class="baseAviso">
        <span> </span>
        <label class="docenteAviso"> </label>
        <label class="fechaAviso"> </label>
        <label class="materiaAviso"> </label>
        <label class="mensajeAviso"> </label>
        <a href="javascript:">
            <i class="fa-solid fa-pen-to-square" data-id="0" data-modal="modalEditar"></i>
        </a>
        <a href="javascript:" >
            <i class="fas fa-trash" data-id="0" data-modal="modalEliminar"></i>
        </a>
    </div>
</template>
<template id="plantillaCanal">
    <div>
        <button class="btnCanal" onclick="cambioCanal(this.id)"></button>
    </div>
</template>

<div class="modal" id="modalAgregar">
    <div>
        <h2> Nuevo Aviso</h2>
        
        <form method="post" data-action="AgregarAviso">
            <textarea name="mensajeAviso" resize="none"></textarea>
            <select name="idMateriaAviso">
                <option value="none" selected disabled hidden>Seleccionar materia</option>
            </select>
            <input type="button" data-cancel="1" value="Cancelar" />
            <input type="submit" value="Agregar" />
            
        </form>
    </div>
</div>

<div class="modal" id="modalEditar">
    <div>
        <h2> Nuevo Aviso</h2>
        <label style="display:none;">Mensaje</label>
        <form method="post" data-action="EditarAviso">
            <textarea name="mensajeAviso" resize="none"></textarea>
            <select name="idMateriaAviso"></select>
            <input type="button" data-cancel="1" value="Cancelar" />
            <input type="submit" value="Editar" />
        </form>
    </div>
</div>

<div class="modal" id="modalEliminar">
    <div>
        <form method="post" data-action="EliminarAviso">
            <label>Desea eliminar el aviso?</label>
            <input type="submit" value="Eliminar" />
            <input type="button" data-cancel="1" value="Cancelar" />
        </form>
    </div>
</div>


<script src="~/Scripts/DocenteJs.js" type="text/javascript"></script>
<script src="https://kit.fontawesome.com/1fb484f5a2.js" crossorigin="anonymous"></script>