@page
@model ProyectoFinalx181G0250.Pages.Docente.HomePageDModel
@{
    Layout = "_Layout";
}

<div id="divCanales" class="menuCanales">
    <div>
        <button class="btnCanal select" id="Canal General" value="Canal General" onclick="cambioCanal(this.id)">Canal General</button>
    </div>
</div>

<div id="divUsuarios" class="mensajesPrivados">
    <div id="listaUsuarios" class="mAlumnos">

    </div>
    <div id="chat" class="chat">
        <div  id="historial" class="his">

        </div>
    </div>
</div>

<div>
    <button id="back" class="back">
        <i class="fa-solid fa-arrow-up"></i>
    </button>
</div>

<div id="divAvisos" class="listaAvisos">

</div>

<template id="plantillaAviso"> 
    <div class="baseAviso">
        <span> </span>
        <label class="docenteAviso"> </label>
        <label class="fechaAviso"> </label>
        <label class="materiaAviso"> </label>
        <label class="mensajeAviso"> </label>
        <a href="javascript:">
            <i class="fa-solid fa-pen-to-square" data-id="0" data-modal="modalEditar"></i>
        </a>
        <a href="javascript:" >
            <i class="fas fa-trash" data-id="0" data-modal="modalEliminar"></i>
        </a>
    </div>
</template>
<template id="plantillaCanal">
    <div>
        <button class="btnCanal" onclick="cambioCanal(this.id)"></button>
    </div>
</template>


<template id="plantillaUsAlumno">
    <a data-chat="abreChat">
        <span data-chat="abreChat"> </span>
        <label data-chat="abreChat"></label>
        <label data-chat="abreChat"></label>
        <label data-chat="abreChat"></label>
    </a>
</template>
<template id="plantillaMensaje">
    <div>
        <label></label>
        <label></label>
    </div>
</template>

<div class="fabs" onclick="toggleBtn()">
    <div class="action">
        <i class="fas fa-plus" id="add"></i>
        <i class="fas fa-times" id="remove" style="display: none"></i>
    </div>

    <div class="btns">
        <a  href="#" class="btn" value="Agregar" data-modal="modalAgregar">
            <i class="fa-regular fa-envelope" value="Agregar" data-modal="modalAgregar"></i>
        </a>
        <a href="#" class="btn" value="Agregar" data-mensaje="mensajeAgregar">
            <i class="fa-solid fa-comment-dots" value="Agregar" data-mensaje="mensajeAgregar"></i>
        </a>
    </div>
</div>

<div class="modal" id="mensajeAgregar">
    <div>
        <h2> Nuevo mensaje</h2>

        <form method="post" data-action="AgregarMensaje">
            <select id="idAlumno" name="idAlumno">
                <option value="none" selected disabled hidden>Seleccionar alumno</option>
            </select>
            <textarea name="mensaje" resize="none"></textarea>
            <input type="button" data-cancel="1" value="Cancelar" />
            <input type="submit" value="Agregar" />

        </form>
    </div>
</div>

<div class="modal" id="modalAgregar">
    <div>
        <h2> Nuevo Aviso</h2>
        
        <form method="post" data-action="AgregarAviso">
            <select name="idMateriaAviso">
                <option value="none" selected disabled hidden>Seleccionar materia</option>
            </select>
            <textarea name="mensajeAviso" resize="none"></textarea>
            <input type="button" data-cancel="1" value="Cancelar" />
            <input type="submit" value="Agregar" />
            
        </form>
    </div>
</div>

<div class="modal" id="modalEditar">
    <div>
        <h2> Nuevo Aviso</h2>
        <label style="display:none;">Mensaje</label>
        <form method="post" data-action="EditarAviso">
            <select name="idMateriaAviso"></select>
            <textarea name="mensajeAviso" resize="none"></textarea>
            <input type="button" data-cancel="1" value="Cancelar" />
            <input type="submit" value="Editar" />
        </form>
    </div>
</div>

<div class="modal" id="modalEliminar">
    <div>
        <form method="post" data-action="EliminarAviso">
            <label>Desea eliminar el aviso?</label>
            <input type="submit" value="Eliminar" />
            <input type="button" data-cancel="1" value="Cancelar" />
        </form>
    </div>
</div>


<script src="~/Scripts/DocenteJs.js" type="text/javascript"></script>
<script src="https://kit.fontawesome.com/1fb484f5a2.js" crossorigin="anonymous"></script>