.listaAvisos {
}

.baseAviso {
    background-color: white;
    display: grid;
    grid-template-columns: 2.5% 48px 2% auto 24px 24px 1%;
    grid-template-rows: 2.5% 16px 16px 16px 5% auto 2.5%;
    margin-bottom: 10px;
    height: 200px;
    border-radius: 7px;
}

    .baseAviso span {
        height: 100%;
        text-align: center;
        line-height: 41px;
        grid-column-start: 2;
        grid-row-start: 2;
        grid-row-end: 5;
        border-radius: 5px;
        color: white;
        font-size: 30px;
        background-color: #0DB9AE;
        border: solid 3px #0DB9AE;
        box-sizing: border-box;
    }
    .baseAviso a {
    text-align:center; 
    font-size: 22px;
    line-height:0px;
    color: #00A3F8;
}

    .baseAviso label:nth-child(2) {
        grid-column-start: 4;
        grid-row-start: 2;
    }

    .baseAviso label:nth-child(3) {
        grid-column-start: 4;
        grid-row-start: 3;
    }

    .baseAviso label:nth-child(4) {
        grid-column-start: 4;
        grid-row-start: 4;
    }

    .baseAviso a:nth-child(6) {
        grid-column-start: 5;
        grid-row-start: 2;
    }

    .baseAviso a:nth-child(7) {
        grid-column-start: 6;
        grid-row-start: 2;
    }

.mensajeAviso {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row: 6;
    word-wrap: break-word;
}
